body {
    background-image: linear-gradient(to left, #ffb399 30%, lavender, #ffe699);
}

.profilecard {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 400px;
    width: 1000px;
    background: gray;
    color: white;
    margin: 10vw 10vw;
    border: 3px solid purple;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, .2);
}
.profilecard>:last-child{
    background: green;
}

.flexn {
    display: flex;
    /*align-items: center;*/
}

.box{
    width: 60px;
    flex-grow: 1;
    border-right: 1px solid white;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.fab,
.fas  {
    color: white;
    font-size: 50px;
}

.flexn p {
    display: none;
}

.icon {
    margin: 0 auto;
}

/*-----Hovers-----*/

.box:hover .fab {
    font-size: 100px;
}

.box:hover .fas {
    font-size: 100px;
}

.fb:hover {
    background: linear-gradient(to top, #0042cf, #4c6dff);
}

.twitter:hover {
    background: linear-gradient(to top, #2bb1ff, #86d3ff);
}

.yt:hover {
    background: linear-gradient(to top, #cc0000, #ff4141);
}

.github:hover {
    background: linear-gradient(to top, #1a1919, #3f3f3f);
}

.homepg:hover {
    background: linear-gradient(to top, #ff93a5, #ffc9d2);
}

