/*=====================================KeyFrames (@media at the bottom)========================*/

@keyframes marches{
    from { background-position: 0px;}
    to {background-position: 320px;}
}

@keyframes alternating { 
    0% {transform: scale(1);}
    
    100% {transform: scale(1.75);}
}

@keyframes reveal {
    0% {opacity: 0;}

    100% {opacity: 1;}
}

@keyframes slideup {
     0% {transform: translateY(0px) scale(1);}

    100% {transform: translateY(-100px) scale(.001);}
}

@keyframes maximize {
    0% {transform: scale(.001);}
    
    100% {transform: scale(1);}
}

/*=====================================Body========================*/

body {
    background-image: linear-gradient(to left, #ffb399 30%, lavender, #ffe699);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.profilecard {
    /* overflow: hidden; */
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 320px;
    width: 900px;
    background: #ffc9efb2;
    color: white;
    margin: 4vw;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, .2);
}

.profilecard>:last-child{
    background: url("../Images/neko.jpg");
    background-size: 270px 100%;
    animation: marches 15s linear infinite;
}

.flexn {
    display: flex;
    z-index: 1;
    position: relative;
}

.box {
    width: 60px;
    flex-grow: 1;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
    align-items: center;
}

.box p {
    opacity: 0;
    margin: 0 auto;
    font-size: 20px;
    font-family: "Gamja Flower", cursive, Helvetica;
}

.box img {
    border-radius: 30%;
}

.github p {
    padding: 0 5px 0 5px;
}

.charlerae {
    font-family: "Gamja Flower", cursive, Helvetica;
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.charlerae p {
     display: inline-block;
     text-align: center;
     margin: 0 0 0 50%;
     transform: translateX(-50%);
     color: black;
     background: rgba(255, 255, 255, .4);
     opacity: 0;
}

.cri img{
    height: 100px;
    margin: 50px 10% 10% 10%;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, .1);
    position: absolute;
    opacity: 1;
}

.yt img {
        height: 40px;
        display: none;
    }
    
.fb, .yt, .twitter, .github, .homepg {
    background-color: pink;
    transition: .75s ease-in-out;
}

.fb img, .twitter img, .yt img, .github img, .homepg img {
    height: 60px;
    display: inline-block;
    position: absolute;
    margin: -100px 0 0 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s .75s;
}

.icon {
    display: flex;
    color: white;
    font-size: 60px;
    position: absolute;
    text-decoration: none;
}

/*------------------------------------Hovers-------------------------------------*/

.box:hover {
    transition: .75s ease;
    width: 250px;
}

.box:hover p {
    opacity: 1;
    transition: .75s linear;
}

.box:hover img {
    opacity: 1;
    margin: -100px 0 0 -10%;
    animation: minimize 2s 1s forwards ease;
}

.box:hover .fab {
    
    animation: slideup .75s forwards ease;
}

.box:hover .fas {
    animation: slideup .75s forwards ease;
}

.fb:hover img {
    animation: maximize 1s .75s ease, alternating .75s 1.5s ease alternate infinite;
}

.fb:hover {
    background-color: blue;
}

.twitter:hover {
    /*background: linear-gradient(to top, #2bb1ff, #86d3ff);*/
    background-color: #2bb1ff;
}

.twitter:hover img {
    display: block;
    animation: maximize 1s .75s ease, alternating .75s 1.5s ease alternate infinite;
}

.yt:hover {
    /*background: linear-gradient(to top, #cc0000, #ff4141);*/
    background-color:  #cc0000;
}

.yt:hover img {
    display: block;
    animation: maximize 1s .75s ease, alternating .75s 1.5s ease alternate infinite;
}

.github:hover {
    /*background: linear-gradient(to top, #1a1919, #3f3f3f);*/
    background-color: #1a1919;
}

.github:hover img {
    display: block;
    animation: maximize 1s .75s ease, alternating .75s 1.5s ease alternate infinite;
}

.homepg:hover {  
    /*background: linear-gradient(to top, #ff93a5, #ffc9d2);*/
    background-color: #ff93a5;
}

.homepg:hover img {
    display: block;
    animation: maximize 1s .75s ease, alternating .75s 1.5s ease alternate infinite;
}

.charlerae:hover ~ .cri img {
    opacity: 1;
    animation: maximize 1s .75s ease, alternating .75s 1.5s ease alternate infinite;
}

/*------------------------------------@media-------------------------------------*/

@media (max-width: 950px) {
    .profilecard {
        grid-template-rows: 70% 30%;
        grid-template-columns: none;
        height: 900px;
        width: 320px;
    }
    .flexn {
        display: flex;
    }
    .box {
        width: 60px;
        flex-grow: 1;
        border-bottom: 1px solid white;
    }
}
/*
@media (max-width: 950px) {
    .charlerae {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
    .charlerae img {
        margin-top: 0;
        margin-left: 0;
        transform: translateX(0);
    }
} 

@media (max-width: 950px) {
    .box:hover{
        height: 200px;
        width: 100%;
    }
    .box:hover p{
        display: inline-block;
        margin: 100px 0 0 0;
    }
}*/
